:root {
    --color-bg-0: #FFFFFF;
    --color-bg-1: #E6E6E6;

    --color-fg-0: #29292B;
    --color-fg-1: #67676B;

    --color-border-0: #EBEBEB;

    --color-box-shadow: rgba(0, 0, 0, 0.08);

    --color-primary-0: #1F65E8;
    --color-primary-1: #407ae8;
    --color-primary-light: #ECF1F9;
    --color-primary-medium: #dbe4f4;
    --color-primary-dark: #113982;

    --overlay-closed: rgba(0, 0, 0, 0);
    --overlay: rgba(0, 0, 0, 0.25);

    /* Sidebar */
    --sidebar-max-width: 321px;
    --sidebar-gap: 12px;
    --sidebar-width: clamp(260px, calc(100% - (48px + 2 * var(--sidebar-gap))), var(--sidebar-max-width));
}


@font-face {
    font-family: 'Inter';
    src: url('/font/inter_bold.woff2') format('woff2'),
        url('/font/inter_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/inter_semibold.woff2') format('woff2'),
        url('/font/inter_semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/inter_medium.woff2') format('woff2'),
        url('/font/inter_medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/inter_regular.woff2') format('woff2'),
        url('/font/inter_regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-blue) var(--primary-white);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans";
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    background-color: var(--color-bg-0);
}