.container {
    width: 100%;
    height: calc(100% - 85px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content {
    width: calc(100% - 48px);
    max-width: 1200px;
    height: fit-content;
    margin: 80px 24px 204px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.content .text,
.content .headline {
    margin: 0;
}

.headline {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: var(--color-fg-0);
}

.subheading {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-fg-0);
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-fg-1);
}

.introQuestionTypesWrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 12px;
    margin: 16px 0px;
}

.introQuestionTypeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    background: var(--color-primary-light);
    border-radius: 16px;
    flex-shrink: 1;
}

.introQuestionTypeHeadline {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-primary-0);
}

.introQuestionTypeText {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-fg-0);
}

.layoutVideo {
    display: none;
}

.layoutVideoMobile {
    width: calc(100% - 48px);
    max-width: 700px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 80px 24px 204px 24px;
}

.btnContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 24px 0px;
}

.voteBtn {
    all: unset;
    width: fit-content;
    height: 52px;
    padding: 0px 16px;
    gap: 12px;
    background: var(--color-primary-light);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-primary-0);
    flex-grow: 1;
}

.voteBtn:hover {
    cursor: pointer;
    background-color: var(--color-primary-medium);
}

.revealBtn {
    all: unset;
    width: fit-content;
    height: 52px;
    padding: 0px 16px;
    gap: 12px;
    background: var(--color-bg-2);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-fg-0);
    flex-grow: 1;
}

.revealBtn:hover {
    cursor: pointer;
    background-color: var(--color-bg-1);
}

.voteBtn img,
.revealBtn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.videoWrapper {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
}

.videoContainer {
    width: 100%;
    height: fit-content;
    aspect-ratio: 9 / 16;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainer video {
    width: 100%;
    height: 100%;
    display: block;
    align-self: flex-end;
    object-fit: contain;
}

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-primary-0);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

.hidden {
    display: none;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

.alreadyWatchedContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.alreadyWatchedBox {
    width: 100%;
    height: 100%;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #ffffff89;
}

.alreadyWatchedBox img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.alreadyWatchedBox p {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-fg-0);
    text-align: center;
}

.alreadyWatchedBG {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.answerSection {
    width: 100%;
    height: fit-content;
    margin: 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.answerHidden {
    width: calc(100% + 48px);
    height: calc(100% + 64px);
    position: absolute;
    top: -32px;
    left: -24px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7.5px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onlineResults {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.onlineResultsHeadline {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-fg-0);
}

.resultLabel {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-fg-0);
}

.resultValue {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-fg-1);
}

.barContainer {
    width: 100%;
    height: 48px;
    border-radius: 16px;
    border: 1px solid var(--color-border-0);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 0px 24px;
    overflow: hidden;
}

.barLabel {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-fg-0);
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
}

.barPercentage {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-fg-1);
    z-index: 2;
}

.barActive {
    border: 2px solid var(--color-primary-0);
    padding: 0px 23px;
}

.bar {
    width: 0px;
    height: 100%;
    background-color: var(--color-primary-light);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.aiContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    background: var(--color-primary-light);
    border-radius: 16px;
    margin-bottom: 24px;
}

.aiHeadline {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-primary-0);
}

.aiText {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-fg-0);
}

.aiLink {
    all: unset;
    width: fit-content;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 12px;
    background: var(--color-primary-medium);
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-primary-0);
    margin-top: 8px;
    box-sizing: border-box;
    border: 1px solid var(--color-primary-medium);
}

.aiLink:hover {
    cursor: pointer;
    border: 1px solid var(--color-primary-0);
}

.aiLink img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.layoutSettingsQuestion {
    width: 100%;
    max-width: 764px;
    height: fit-content;
    margin: 80px 0px 204px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.settingsMargin {
    margin: 0px 24px;
}

.settingsBtnContainer,
.binaryBtnContainer {
    width: calc(100% - 48px);
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    margin: 0px 24px;
}

.settingsVote {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.settingsLickertBtn {
    all: unset;
    width: 20px;
    height: 52px;
    padding: 0px 16px;
    gap: 12px;
    background: var(--color-primary-light);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-primary-0);
    flex-grow: 1;
}

.settingsLickertBtn:hover {
    cursor: pointer;
    background-color: var(--color-primary-medium);
}

.settingsLabels {
    width: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsAnswerSection {
    width: calc(100% - 48px);
    margin: 24px;
    position: relative;
}

.settingsRevealBtn {
    height: 48px;
    border-radius: 24px;
    flex-grow: 0;
}

.scale {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 14px;
    margin-bottom: 2px;
}

.scaleAxis {
    width: 100%;
    height: 2px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: 2px solid var(--color-fg-1);
}

.scaleTick {
    width: 16px;
    height: 16px;
    position: relative;
    top: -9px;
    border: 2px solid var(--color-fg-1);
    border-radius: 4px;
    background-color: var(--color-bg-0);
}

.scaleActive {
    border-color: var(--color-primary-0);
}

.scaleBar {
    width: 100px;
    height: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: var(--color-primary-0);
}

.scaleBarEnd {
    width: 4px;
    height: 20px;
    border-radius: 2px;
    background-color: var(--color-primary-0);
}

.scaleMean {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    border-radius: 4px;
    background-color: var(--color-primary-0);
}

.scaleNumbers {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

.scaleNumberBox {
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scaleNumber {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--color-fg-1);
}

.scaleLabels {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.freeTextResponsesContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.freeTextResponses {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quoteBox {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    border: 2px solid var(--color-border-0);
    border-radius: 16px;
}

.quoteText {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-fg-0);
}

.showMoreBtn {
    all: unset;
    width: fit-content;
    height: 52px;
    padding: 0px 16px;
    gap: 12px;
    background: var(--color-primary-light);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--color-primary-0);
}

.showMoreBtn:hover {
    cursor: pointer;
    background-color: var(--color-primary-medium);
}

.showMoreBtn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.binaryBtnContainer .voteBtn {
    justify-content: flex-start;
}



.bottomNavbar {
    width: 100%;
    height: 180px;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 16px;
    gap: 12px;
}

.bottomNavbarItem {
    width: fit-content;
    height: 52px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.bottomNavbarItemBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    background: var(--color-primary-0);
    border-radius: 16px;
    gap: 12px;
}

.bottomNavbarItemBox:hover {
    background-color: var(--color-primary-1);
}

.linkTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--color-bg-0);
}

.bottomNavbarItem img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


@media screen and (min-width: 576px) {
    .content {
        width: calc(100% - 96px);
        margin: 128px 48px 204px 48px;
    }

    .headline {
        font-size: 36px;
    }

    .layoutVideoMobile {
        width: calc(100% - 96px);
        margin: 128px 48px 204px 48px;
    }

    .layoutSettingsQuestion {
        width: calc(100% - 32px);
        margin: 128px 16px 204px 16px;
    }

    .settingsMargin {
        margin: 0px 32px;
    }

    .settingsAnswerHidden {
        width: calc(100% + 64px);
        left: -32px;
    }

    .settingsAnswerSection {
        width: calc(100% - 64px);
        margin: 24px 32px;
    }

    .settingsBtnContainer {
        width: calc(100% - 64px);
        margin: 0px 32px;
    }

    .settingsLabels {
        width: calc(100% - 64px);
    }

    .settingsLickertBtn {
        flex-grow: 0;
    }

    .settingsVote {
        max-width: fit-content;
    }

    .settingsBtnContainer {
        max-width: fit-content;
    }
}


@media screen and (min-width: 992px) {
    .layoutVideoMobile {
        display: none;
    }

    .layoutVideo {
        max-width: 1264px;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .videoWrapper {
        margin: 0;
    }

    .contentSection {
        width: 100%;
        max-width: 737px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 96px 0px;
    }

    .headline,
    .text,
    .btnContainer,
    .subheading,
    .aiContainer {
        margin: 0px 32px;
    }

    .btnContainer {
        width: calc(100% - 64px);
    }

    .voteBtn {
        justify-content: flex-start;
        width: 50%;
        flex: 1;
    }

    .voteBtnEllipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }

    .aiContainer {
        width: calc(100% - 64px);
    }

    .answerSection {
        width: calc(100% - 64px);
        margin: 24px 32px;
        position: relative;
    }

    .answerHidden {
        width: calc(100% + 64px);
        left: -32px;
    }

    .revealBtn {
        height: 48px;
        border-radius: 24px;
        flex-grow: 0;
    }

    .settingsLabels .text,
    .scaleLabels .text {
        margin: 0;
    }
}

@media screen and (min-width: 992px) and (max-height: 799px) {
    .layoutVideo {
        width: calc(100% - 64px);
        margin: 32px 16px 204px 48px;
        gap: 0;
    }

    .contentSection {
        padding-bottom: 0;
    }

    .videoContainer {
        border-radius: 16px;
        overflow: hidden;
        box-sizing: content-box;
    }

    .alreadyWatchedBox {
        width: calc(100% - 96px);
        height: calc(100% - 96px);
    }
}

@media screen and (min-width: 992px) and (min-height: 800px) {
    .containerVideo {
        height: calc(100vh - 169px);
        overflow: hidden;
    }

    .layoutVideo {
        width: calc(100% - 64px);
        height: calc(100% - 32px);
        margin: 32px 16px 0px 48px;
        gap: 0;
    }

    .videoWrapper {
        width: unset;
        max-width: fit-content;
        height: 100%;
        max-height: min(100%, 879px);
        aspect-ratio: 9 / 16;
        border: none;
    }

    .videoContainer {
        max-width: fit-content;
        max-height: min(100%, 879px);
        flex-shrink: 0;
        border-radius: 16px;
        overflow: hidden;
        box-sizing: content-box;
    }

    .videoContainer video {
        flex-shrink: 0;
    }

    .alreadyWatchedContainer {
        width: fit-content;
        border-radius: 16px;
        overflow: hidden;
    }

    .alreadyWatchedBox {
        width: calc(100% - 96px);
        height: calc(100% - 96px);
    }

    .alreadyWatchedBG {
        position: static;
    }

    .bottomNavbarVideo {
        height: 84px;
        background: var(--color-bg-0);
    }
}