.appbar {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 0 16px;
    background-color: var(--color-bg-0);
    border-bottom: 1px solid var(--color-border-0);
    height: 85px;
    box-sizing: border-box;
    z-index: 200;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-fg-0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    flex: 1 1 auto;
    min-width: 0;
    display: none;
}

.settingsToggle {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 16px;
    background-color: transparent;
    transition: background-color 0.2s ease;
    flex-shrink: 0;
}

.settingsToggle:hover {
    background-color: var(--color-bg-1);
    cursor: pointer;
}

.settingsToggle img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.dropdown {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 76.5px;
    right: 16px;
    z-index: 210;
    background-color: var(--color-bg-0);
    border-radius: 16px;
    border: 1px solid var(--color-border-0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
}

.dropdownAction {
    all: unset;
    width: calc(100% - 28px);
    height: 20px;
    padding: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-fg-0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: transparent;
}

.dropdownAction:hover {
    background-color: var(--color-bg-1);
    cursor: pointer;
}

.dropdownAction img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.placeholder {
    width: 52px;
    height: 52px;
    flex-shrink: 0;
}

.logo {
    width: 100%;
    max-height: 35px;
}


@media (min-width: 992px) {
    .appbar {
        padding: 0 16px 0px 28px;
    }

    .title {
        display: block;
    }

    .placeholder {
        display: none;
    }

    .logo {
        display: none;
    }
}