.overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: var(--overlay);
    animation: fade-in 0.2s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--color-bg-0);
    border-right: 1px solid var(--color-border-0);
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    will-change: transform;
    z-index: 105;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.open {
    transform: translateX(0);
}

.toggleSidebar {
    all: unset;
    box-sizing: border-box;
    width: 52px;
    height: 52px;
    position: fixed;
    top: 16.5px;
    left: 16px;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: var(--color-bg-0);
    transition: background-color 0.2s ease, left 0.2s ease;
    cursor: pointer;
}

.isOpen {
    left: calc(var(--sidebar-width) + var(--sidebar-gap));
}

.toggleSidebar:hover {
    background-color: var(--color-bg-1);
}

.toggleSidebar img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.iconOpen {
    display: inline;
}

.iconClose {
    display: none;
}

.isOpen .iconOpen {
    display: none;
}

.isOpen .iconClose {
    display: inline;
}

.nav {
    width: calc(100% - 32px);
    margin: 16px;
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-shrink: 1;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
}

.logoContainer {
    display: none;
}

.navTitle {
    margin: 0px 16px 16px 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    color: var(--color-fg-0);
}

.links {
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.navLink {
    width: 100%;
    height: 48px;
    border-radius: 16px;
    text-decoration: none;
}

.navLinkQuestionnaire {
    border-radius: 16px 16px 0px 0px;
}

.navLinkQuestionnaireContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinkQuestionaireToggleButton {
    all: unset;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.2s ease;
    flex-shrink: 0;
    flex-grow: 0;
}

.navLinkQuestionaireToggleButton:hover {
    background-color: var(--color-primary-medium);
    cursor: pointer;
}

.navLinkQuestionaireToggleButton img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.navLink:hover {
    background-color: var(--color-primary-light);
}

.navLinkActive {
    background-color: var(--color-primary-light);
}

.navLinkContainer {
    width: 100%;
    height: fit-content;
}

.spacerContainer {
    width: 100%;
    height: 1px;
    background-color: var(--color-primary-light);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.spacer {
    width: calc(100% - 16px);
    height: 1px;
    background-color: var(--color-primary-0);
    margin: 0px 8px;
}

.submenu {
    width: 100%;
    max-height: 268px;
    min-height: 88px;
    border-radius: 0px 0px 16px 16px;
    background-color: var(--color-primary-light);
    padding: 8px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    flex-shrink: 1;
}

.subLinkBox {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 36px;
    border-radius: 8px;
    padding: 4px 8px 4px 6px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.sub {
    height: 36px;
    text-decoration: none;
    border-radius: 8px;
}

.sub:hover {
    background-color: var(--color-primary-medium);
}

.subActive:hover {
    background-color: var(--color-primary-light);
}

.subIcon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    flex-shrink: 0;
}

.subIconPlaceholder {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.linkTitleBox {
    width: 100%;
    height: 100%;
    padding: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.linkTitleBox img {
    width: 20px;
    height: 20px;
}

.linkTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-fg-0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navLinkActive .linkTitle {
    color: var(--color-primary-0);
}

.downloadBox {
    width: calc(100% - 32px);
    height: fit-content;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px 16px;
    gap: 24px;
    background: linear-gradient(99.68deg, var(--color-primary-0) 0.13%, var(--color-primary-dark) 99.87%);
    border-radius: 16px;
}

.downloadTextContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.downloadHeadline {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.downloadDescription {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    color: #E6E6E6;
}

.downloadBtn {
    all: unset;
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--color-fg-0);
    user-select: none;
}

.downloadBtn:hover {
    background: #F0F0F0;
    cursor: pointer;
}

@media (min-width: 992px) {
    :root {
        --sidebar-width: 321px;
    }

    .nav {
        margin: 16px;
    }

    .logoContainer {
        display: block;
        height: 35px;
        margin: 9px 14px 25px 14px;
    }

    .logoContainer img {
        height: 100%;
    }

    .navTitle {
        display: none;
    }

    .overlay {
        background-color: transparent;
        pointer-events: none;
    }

    .hideToggle {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .sidebar,
    .sidebar.open {
        position: sticky;
        top: 0;
        transform: none;
        width: 321px;
        max-width: 321px;
        flex-shrink: 0;
    }
}