.overlay {
    position: fixed;
    inset: 0;
    z-index: 100;
    background-color: var(--overlay);
    transition: background-color 0.2s ease;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--sidebar-bg);
    border-right: 1px solid var(--color-border-0);
    transform: translateX(-100%);
    transition: transform 200ms ease;
    will-change: transform;
    z-index: 105;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.open {
    transform: translateX(0);
}

.toggleSidebar {
    all: unset;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    position: fixed;
    top: 12px;
    left: 12px;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.3s ease, border 0.3s ease, left 200ms ease;
    cursor: pointer;
}

.isOpen {
    left: calc(var(--sidebar-width) + var(--sidebar-gap));
}

.toggleSidebar:hover {
    background-color: var(--color-bg-2);
    border: 1px solid var(--color-border-0);
}

.toggleSidebar img {
    width: 24px;
    height: 24px;
}

.iconOpen {
    display: inline;
}

.iconClose {
    display: none;
}

.isOpen .iconOpen {
    display: none;
}

.isOpen .iconClose {
    display: inline;
}








@media (min-width: 992px) {
    :root {
        --sidebar-width: 320px;
    }

    .sidebar {
        flex-shrink: 0;
    }

    .overlay {
        background-color: transparent;
        pointer-events: none;
    }

    .hideToggle {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .sidebar,
    .sidebar.open {
        position: sticky;
        top: 0;
        transform: none;
        width: 320px;
        max-width: 320px;
    }
}